.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #343a40;
}

.login-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-input-group {
  margin-bottom: 20px;
  text-align: left;
}

.login-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}

.password-toggle-icon:hover {
  color: #d4002a;
}

.login-button {
  background-color: #d4002a;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.login-button:hover {
  background-color: #ad0a27;
}

.login-footer {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #777;
}

.login-footer a {
  color: #d4002a;
  text-decoration: none;
  font-weight: bold;
}

.login-footer a:hover {
  text-decoration: underline;
}
